"postgres" "{{ patroni_superuser_password }}"
"{{ app_rw_username }}" "{{ app_rw_password }}"
"{{ app_ro_username }}" "{{ app_ro_password }}"
"{{ app_auditor_username }}" "{{ app_auditor_password }}"
